# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/vigoqqvt/barbershopgentlemens13.com/backend"
PassengerBaseURI "/backend"
PassengerNodejs "/home/vigoqqvt/nodevenv/barbershopgentlemens13.com/backend/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv ADMIN_EMAIL info@barbershopgentlemens13.com
SetEnv BARBER_NOTIFY_TO info@barbershopgentlemens13.com
SetEnv BASE_PATH /backend
SetEnv CLIENT_ORIGIN *
SetEnv FROM_EMAIL no-reply@barbershopgentlemens13.com
SetEnv FROM_NAME Barbershop Gentlemen's 13
SetEnv MONGO_URI mongodb+srv://info_db_user:A1uzhK2FooOJtoC3@barbershop.hs6u2iy.mongodb.net/barbershop?retryWrites=true&w=majority
SetEnv NOTIFY_EMAIL info@barbershopgentlemens13.com
SetEnv PORT 4000
SetEnv PUBLIC_BASE_URL https://barbershopgentlemens13.com
SetEnv SMTP_HOST barbershopgentlemens13.com
SetEnv SMTP_PASS 1bg2bg3bg4bg
SetEnv SMTP_PORT 587
SetEnv SMTP_SECURE false
SetEnv SMTP_USER no-reply@barbershopgentlemens13.com
SetEnv JWT_SECRET sfajlbdauiobdsbiufbaso21h3891yaskhdvbaisuofg
SetEnv MAIL_FROM no-reply@barbershopgentlemens13.com
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END